<div class="start-index container">
  <p>
    이름으로 알아보는 오늘 만나게될 트롤과 버스기사 ㅇ.<
  </p>
</div>

<div class="start-index container row">
  <p class="col">
    <%= link_to '패작러', new_nottodo_path, class: "link-button" %>
  </p>
  <p class="col">
    <%= link_to '버스기사', new_todo_path, class: "link-button" %>
  </p>
</div>
